@import "normalize";

@import "settings";

@import "mixin";

.container {
  padding-inline: min(6.25vw, 120px);
}

.kk {
  position: relative;
  margin-top: min(5.21vw, 100px);
  padding-bottom: min(5.21vw, 100px);
  background-color: #f6f6f6;

  &::after {
    content: "";
    position: absolute;
    top: max(-5.21vw, -100px);
    left: 0;
    width: 100%;
    height: min(5.21vw, 100px);
    border-radius: min(2.60vw, 50px) min(2.60vw, 50px) 0 0;
    background-color: #f6f6f6;
  }

  & h2 {
    display: inline;
    font-size: min(2.50vw, 48px);
    font-weight: 700;
    font-style: normal;
    line-height: normal;
    color: #000000;
    text-transform: uppercase;
  }

  &__list {
    margin-top: min(3.13vw, 60px);

    gap: min(1.04vw, 20px);
    grid-template-columns: repeat(3, 1fr);
    gap: min(1.04vw, 20px);

    & > li {
      min-height: min(37.66vw, 723px);
      border-radius: min(.52vw, 10px);
      background-color: white;
    }
  }

  &__picBlock {
    width: 100%;
    height: min(18.54vw, 356px);
    border-radius: min(.52vw, 10px);

    & img {
      width: 100%;
      height: 100%;
      border-radius: min(.52vw, 10px);

      object-fit: cover;
    }
  }

  &__itemDescrBlock {
    display: flex;
    flex-direction: column;
    min-height: min(21.77vw, 418px);
    padding: min(1.56vw, 30px) min(2.08vw, 40px) min(2.08vw, 40px) min(2.08vw, 40px);
  }

  & h4 {
    margin-bottom: min(1.04vw, 20px);
    font-size: min(2.08vw, 40px);
    font-weight: 700;
    font-style: normal;
    line-height: normal;
    color: #000000;
    text-transform: uppercase;

    & + p {
      font-size: min(1.25vw, 24px);
      font-weight: 400;
      font-style: normal;
      line-height: normal;
      color: #000000;
    }
  }

  &__itemBtnCard {
    flex-wrap: wrap;
    margin-top: auto;

    column-gap: min(1.04vw, 20px);
  }

  &__itemLink {
    padding: min(.52vw, 10px) min(1.04vw, 20px);
    border: 1px solid #b91827;
    border-radius: min(.52vw, 10px);
    font-size: min(1.25vw, 24px);
    font-weight: 500;
    font-style: normal;
    line-height: normal;
    transition: all .3s ease-in-out;

    &_sign {
      color: white;
      background-color: #b91827;
    }

    &_more {
      color: black;
      background-color: transparent;
    }
  }
}

.titleRed {
  display: inline;
  padding: min(.16vw, 3px) min(1.15vw, 22px);
  border: min(.16vw, 3px) solid #c31827;
  border-radius: min(2.08vw, 40px);
  font-size: min(2.50vw, 48px);
  font-weight: 700;
  font-style: normal;
  line-height: normal;
  color: #c31827;
  text-transform: uppercase;
}

.name {
  display: inline;
  font-size: min(1.25vw, 24px);
  font-weight: 700;
  font-style: normal;
  line-height: min(1.25vw, 24px); /* 100% */
  color: #969696;
  vertical-align: top;
}

.hero {
  margin-top: min(2.66vw, 51px);
  margin-bottom: min(10.42vw, 200px);

  &__container {
    justify-content: space-between;

    column-gap: min(1.04vw, 20px);
  }

  &__main {
    width: 50%;
    min-height: min(29.22vw, 561px);
    padding: min(2.08vw, 40px);
    border-radius: min(.52vw, 10px);

    &_left {
      flex-direction: column;
      background: linear-gradient(0deg, rgba(142, 216, 238, .90) 0%, rgba(142, 216, 238, .90) 100%), url(<path-to-image>) lightgray 50% / cover no-repeat;
      ;
    }

    &_right {
      @include back_img;
      background-image: url(../img/hero.jpg);

      & > div {
        @include back_img;
        width: min(11.15vw, 214px);
        height: min(2.66vw, 51px);
        background-image: url(../img/hero_logo.svg);
      }
    }
  }

  &__descr {
    margin-top: auto;
    font-family: "Montserrat";
    font-size: min(1.25vw, 24px);
    font-weight: 400;
    font-style: normal;
    line-height: min(1.25vw, 24px); /* 100% */
    color: #0e0e0e;
  }

  & h1 {
    font-size: min(2.50vw, 48px);
    font-weight: 700;
    font-style: normal;
    line-height: normal;
    color: #000000;
    text-transform: uppercase;

    & > div {
      max-width: max-content;
      margin-top: min(.52vw, 10px);
      padding: min(1.04vw, 20px) min(1.30vw, 25px);
      border-radius: min(2.08vw, 40px);
      background-color: white;
    }
  }
}

// hover
.kk__itemLink:hover {
  border-color: black;
  color: white;
  background-color: black;
}

