@import "normalize";

@import "settings";

@import "mixin";

.container {
  padding-inline: min(6.25vw, 120px);
}

.kk {
  position: relative;
  padding-bottom: min(5.21vw, 100px);
  background-color: #f6f6f6;

  &::after {
    content: "";
    position: absolute;
    top: max(-5.21vw, -100px);
    left: 0;
    width: 100%;
    height: min(5.21vw, 100px);
    border-radius: min(2.60vw, 50px) min(2.60vw, 50px) 0 0;
    background-color: #f6f6f6;
  }

  & h2 {
    display: inline;
    font-size: min(2.50vw, 48px);
    font-weight: 700;
    font-style: normal;
    line-height: normal;
    color: #000000;
    text-transform: uppercase;
  }

  &__list {
    margin-top: min(3.13vw, 60px);

    gap: min(1.04vw, 20px);
    grid-template-columns: repeat(3, 1fr);
    gap: min(1.04vw, 20px);

    & > li {
      min-height: min(37.66vw, 723px);
      border-radius: min(.52vw, 10px);
      background-color: white;
    }
  }

  &__picBlock {
    width: 100%;
    height: min(18.54vw, 356px);
    border-radius: min(.52vw, 10px);

    & img {
      width: 100%;
      height: 100%;
      border-radius: min(.52vw, 10px);

      object-fit: cover;
    }
  }

  &__itemDescrBlock {
    display: flex;
    flex-direction: column;
    min-height: min(21.77vw, 418px);
    padding: min(1.56vw, 30px) min(2.08vw, 40px) min(2.08vw, 40px) min(2.08vw, 40px);
  }

  & h4 {
    margin-bottom: min(1.04vw, 20px);
    font-size: min(2.08vw, 40px);
    font-weight: 700;
    font-style: normal;
    line-height: normal;
    color: #000000;
    text-transform: uppercase;

    & + p {
      font-size: min(1.25vw, 24px);
      font-weight: 400;
      font-style: normal;
      line-height: normal;
      color: #000000;
    }
  }

  &__itemBtnCard {
    flex-wrap: wrap;
    margin-top: auto;

    column-gap: min(1.04vw, 20px);
  }

  &__itemLink {
    padding: min(.52vw, 10px) min(1.04vw, 20px);
    border: 1px solid #b91827;
    border-radius: min(.52vw, 10px);
    font-size: min(1.25vw, 24px);
    font-weight: 500;
    font-style: normal;
    line-height: normal;
    transition: all .3s ease-in-out;

    &_sign {
      color: white;
      background-color: #b91827;
    }

    &_more {
      color: black;
      background-color: transparent;
    }
  }
}

.titleRed {
  display: inline;
  padding: min(.16vw, 3px) min(1.15vw, 22px);
  border: min(.16vw, 3px) solid #c31827;
  border-radius: min(2.08vw, 40px);
  font-size: min(2.50vw, 48px);
  font-weight: 700;
  font-style: normal;
  line-height: normal;
  color: #c31827;
  text-transform: uppercase;
}

.name {
  display: inline;
  font-size: min(1.25vw, 24px);
  font-weight: 700;
  font-style: normal;
  line-height: min(1.25vw, 24px); /* 100% */
  color: #969696;
  vertical-align: top;
}

.hero {
  margin-top: min(2.66vw, 51px);
  margin-bottom: min(10.42vw, 200px);

  &__container {
    justify-content: space-between;

    column-gap: min(1.04vw, 20px);
  }

  &__main {
    width: 50%;
    min-height: min(29.22vw, 561px);
    padding: min(2.08vw, 40px);
    border-radius: min(.52vw, 10px);

    &_left {
      flex-direction: column;
      background: linear-gradient(0deg, rgba(142, 216, 238, .90) 0%, rgba(142, 216, 238, .90) 100%), url(<path-to-image>) lightgray 50% / cover no-repeat;
      ;
    }

    &_right {
      @include back_img;
      background-image: url(../img/hero.jpg);

      & > div {
        @include back_img;
        width: min(11.15vw, 214px);
        height: min(2.66vw, 51px);
        background-image: url(../img/hero_logo.svg);
      }
    }
  }

  &__descr {
    margin-top: auto;
    font-family: "Montserrat";
    font-size: min(1.25vw, 24px);
    font-weight: 400;
    font-style: normal;
    line-height: min(1.25vw, 24px); /* 100% */
    color: #0e0e0e;
  }

  & h1 {
    font-size: min(2.50vw, 48px);
    font-weight: 700;
    font-style: normal;
    line-height: normal;
    color: #000000;
    text-transform: uppercase;

    & > div {
      max-width: max-content;
      margin-top: min(.52vw, 10px);
      padding: min(.52vw, 10px) min(1.30vw, 25px);
      border-radius: min(2.08vw, 40px);
      background-color: white;
    }
  }
}

.hv {
  position: relative;
  padding-bottom: min(10.42vw, 200px);
  background-color: #f6f6f6;

  &::after {
    content: "";
    position: absolute;
    top: max(-5.21vw, -100px);
    left: 0;
    width: 100%;
    height: min(5.21vw, 100px);
    border-radius: min(2.60vw, 50px) min(2.60vw, 50px) 0 0;
    background-color: #f6f6f6;
  }

  & h2 {
    display: inline;
    font-size: min(2.50vw, 48px);
    font-weight: 700;
    font-style: normal;
    line-height: normal;
    color: #000000;
    text-transform: uppercase;
  }

  &__videoBlock {
    position: relative;
    width: min(65.36vw, 1255px);
    height: min(36.82vw, 707px);
    margin-top: min(3.13vw, 60px);
    margin-left: auto;
    border-radius: min(.52vw, 10px);

    & > video {
      position: relative;
      z-index: 1;
      width: 100%;
      height: 100%;
      border-radius: min(.52vw, 10px);

      object-fit: cover;
    }

    &::after {
      @include back_img;
      content: "";
      position: absolute;
      z-index: 0;
      top: min(1.56vw, 30px);
      left: max(-27.60vw, -530px);
      width: min(34.69vw, 666px);
      height: min(33.54vw, 644px);
      background-image: url(../img/hello_word.png);
    }
  }
}

.about {
  position: relative;
  padding-bottom: min(10.42vw, 200px);
  background-color: white;

  &::after {
    content: "";
    position: absolute;
    top: max(-5.21vw, -100px);
    left: 0;
    width: 100%;
    height: min(5.21vw, 100px);
    border-radius: min(2.60vw, 50px) min(2.60vw, 50px) 0 0;
    background-color: white;
  }

  & h2 {
    display: inline;
    font-size: min(2.50vw, 48px);
    font-weight: 700;
    font-style: normal;
    line-height: normal;
    color: #000000;
    text-transform: uppercase;
  }

  &__container {
    position: relative;
    margin-bottom: min(5.21vw, 100px);
  }

  &__imgBlock {
    @include back_img;
    width: min(32.14vw, 617px);
    height: auto;
    border-radius: min(.52vw, 10px);
    background-image: url(../img/about_city.jpg);
  }

  &__name {
    position: absolute;
    top: 0;
    left: min(6.25vw, 120px);
  }

  &__titleRed {
    position: relative;
    z-index: 1000;
  }

  &__descr {
    position: relative;
    flex-direction: column;
    min-height: min(22.29vw, 428px);
    padding: min(2.08vw, 40px);
    border-radius: min(.52vw, 10px) min(.52vw, 10px) min(5.21vw, 100px) min(.52vw, 10px);
    background: linear-gradient(0deg, rgba(142, 216, 238, .90) 0%, rgba(142, 216, 238, .90) 100%), url(<path-to-image>) lightgray 50% / cover no-repeat;

    &::after {
      content: "";
      position: absolute;
      bottom: min(4.17vw, 80px);
      left: min(10.42vw, 200px);
      width: min(10.73vw, 206px);
      height: min(7.29vw, 140px);
      background-image: url(../img/about_line.svg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      transform: rotate(-8deg);
    }

    & h3 {
      margin-bottom: min(1.04vw, 20px);
      font-size: min(2.08vw, 40px);
      font-weight: 600;
      font-style: normal;
      line-height: normal;
      color: #000000;

      & + p {
        max-width: min(25.26vw, 485px);
        font-size: min(1.25vw, 24px);
        font-weight: 400;
        font-style: normal;
        line-height: min(1.25vw, 24px); /* 100% */
        color: #000000;

        & + a {
          display: grid;
          width: min(7.81vw, 150px);
          margin-top: auto;
          padding: min(.52vw, 10px) min(1.04vw, 20px);
          border-radius: min(.52vw, 10px);
          font-size: min(1.25vw, 24px);
          font-weight: 500;
          font-style: normal;
          line-height: normal;
          color: #ffffff;
          background-color: #b91827;

          place-items: center;
        }
      }
    }
  }

  &__mainBlock {
    justify-content: flex-end;
    margin-top: min(3.13vw, 60px);

    column-gap: min(1.04vw, 20px);
  }

  &__bottomImgBlock {
    @include back_img;
    width: 100%;
    height: min(25.42vw, 488px);
    background-image: url(../img/about_bottom_img.jpg);
  }
}

.miss {
  position: relative;
  padding-bottom: min(10.42vw, 200px);
  background-color: #f6f6f6;

  &::after {
    content: "";
    position: absolute;
    top: max(-5.21vw, -100px);
    left: 0;
    width: 100%;
    height: min(5.21vw, 100px);
    border-radius: min(2.60vw, 50px) min(2.60vw, 50px) 0 0;
    background-color: #f6f6f6;
  }

  & h2 {
    position: relative;
    z-index: 1000;
    display: inline;
    font-size: min(2.50vw, 48px);
    font-weight: 700;
    font-style: normal;
    line-height: normal;
    color: #000000;
    text-transform: uppercase;
  }

  & ul:has(> .miss__itemElem) {
    display: flex;
    flex-wrap: wrap;
    margin-top: min(3.13vw, 60px) ;

    gap: min(1.04vw, 20px);
  }

  &__itemElem {
    display: flex;
    flex-direction: column;
    width: 49%;
    height: auto;
    min-height: min(20.83vw, 400px);
    padding: min(2.08vw, 40px);
    border-radius: min(.52vw, 10px) min(.52vw, 10px) min(5.21vw, 100px) min(.52vw, 10px);
    background-color: white;

    &:first-child {
      background-color: #99daeb;
    }

    & > ul {
      display: flex;
      flex-direction: column;
      padding-left: min(.78vw, 15px);
      list-style-type: disc;

      row-gap: min(1.04vw, 20px);
    }
  }

  &__itemDecr {
    font-size: min(1.25vw, 24px);
    font-weight: 400;
    font-style: normal;
    line-height: normal;
    color: #000000;
  }

  & h4 {
    margin-bottom: min(1.56vw, 30px);
    font-size: min(2.08vw, 40px);
    font-weight: 600;
    font-style: normal;
    line-height: normal;
    color: #000000;
    text-transform: uppercase;

    & + p {
      max-width: 90%;
      margin-top: auto;
      font-size: min(1.25vw, 24px);
      font-weight: 400;
      font-style: normal;
      line-height: normal;
      color: #000000;
    }
  }
}

.motiv {
  position: relative;
  padding-bottom: min(10.42vw, 200px);
  background-color: white;

  &::after {
    content: "";
    position: absolute;
    top: max(-5.21vw, -100px);
    left: 0;
    width: 100%;
    height: min(5.21vw, 100px);
    border-radius: min(2.60vw, 50px) min(2.60vw, 50px) 0 0;
    background-color: white;
  }

  & h2 {
    position: relative;
    z-index: 1000;
    display: inline;
    font-size: min(2.50vw, 48px);
    font-weight: 700;
    font-style: normal;
    line-height: normal;
    color: #000000;
    text-transform: uppercase;
  }

  &__main {
    margin-top: min(3.13vw, 60px);

    & > ul {
      display: flex;
      width: max-content;
      margin-bottom: min(1.04vw, 20px);

      margin-inline: auto min(8.33vw, 160px);
      column-gap: min(.52vw, 10px) ;

      & button {
        display: grid;
        padding: min(.52vw, 10px) min(1.04vw, 20px);
        border-radius: min(.52vw, 10px);
        font-size: min(1.25vw, 24px);
        font-weight: 500;
        font-style: normal;
        line-height: normal;
        color: #ffffff;
        background-color: #dcdcdc;
        transition: all .3s ease-in-out;

        place-items: center;
      }
    }
  }

  &__videoBlock {
    position: relative;
    width: min(65.36vw, 1255px);
    height: min(36.82vw, 707px);
    margin-left: auto;
    border-radius: min(.52vw, 10px);

    & > video {
      position: relative;
      z-index: 1;
      width: 100%;
      height: 100%;
      border-radius: min(.52vw, 10px);

      object-fit: cover;
    }

    &::after {
      @include back_img;
      content: "";
      position: absolute;
      z-index: 0;
      top: max(-5.47vw, -105px);
      left: max(-21.88vw, -420px);
      width: min(25.52vw, 490px);
      height: min(41.88vw, 804px);
      background-image: url(../img/motiv_img.png);
    }
  }
}

.adapt {
  position: relative;
  padding-bottom: min(10.42vw, 200px);
  background-color: #f6f6f6;

  &::after {
    content: "";
    position: absolute;
    top: max(-5.21vw, -100px);
    left: 0;
    width: 100%;
    height: min(5.21vw, 100px);
    border-radius: min(2.60vw, 50px) min(2.60vw, 50px) 0 0;
    background-color: #f6f6f6;
  }

  & h2 {
    position: relative;
    z-index: 1000;
    display: inline;
    font-size: min(2.50vw, 48px);
    font-weight: 700;
    font-style: normal;
    line-height: normal;
    color: #000000;
    text-transform: uppercase;
  }

  &__container {
    position: relative;
    margin-bottom: min(5.21vw, 100px);
  }

  &__imgBlock {
    @include back_img;
    width: min(32.14vw, 617px);
    height: auto;
    border-radius: min(.52vw, 10px);
    background-image: url(../img/adapt.jpg);
  }

  &__descr {
    position: relative;
    flex-direction: column;
    width: min(32.14vw, 617px);
    min-height: min(27.19vw, 522px);
    padding: min(2.08vw, 40px);
    border-radius: min(.52vw, 10px) min(.52vw, 10px) min(5.21vw, 100px) min(.52vw, 10px);
    background: linear-gradient(0deg, rgba(142, 216, 238, .90) 0%, rgba(142, 216, 238, .90) 100%), url(<path-to-image>) lightgray 50% / cover no-repeat;

    & h3 {
      margin-bottom: min(1.04vw, 20px);
      font-size: min(2.08vw, 40px);
      font-weight: 600;
      font-style: normal;
      line-height: normal;
      color: #000000;

      & + p {
        max-width: min(25.26vw, 485px);
        font-size: min(1.25vw, 24px);
        font-weight: 400;
        font-style: normal;
        line-height: min(1.25vw, 24px); /* 100% */
        color: #000000;

        & + a {
          display: grid;
          width: max-content;
          margin-top: auto;
          padding: min(.52vw, 10px) min(1.04vw, 20px);
          border-radius: min(.52vw, 10px);
          font-size: min(1.25vw, 24px);
          font-weight: 500;
          font-style: normal;
          line-height: normal;
          color: #ffffff;
          background-color: #b91827;

          place-items: center;
        }
      }
    }
  }

  &__mainBlock {
    justify-content: flex-end;
    margin-top: min(3.13vw, 60px);

    column-gap: min(1.04vw, 20px);
  }

  &__bottomImg {
    width: 100%;
    height: min(29.53vw, 567px);

    column-gap: min(1.04vw, 20px);

    & div {
      @include back_img;
      height: 100%;
      background-color: white;

      &:first-child,
      &:last-child {
        width: min(27.34vw, 525px);
      }

      &:nth-child(2),
      &:nth-child(3) {
        width: min(21.09vw, 405px);
      }

      &:first-child {
        background-image: url(../img/adapt_1.jpg);
      }

      &:nth-child(2) {
        background-image: url(../img/adapt_2.jpg);
      }

      &:nth-child(3) {
        background-image: url(../img/adapt_3.jpg);
      }

      &:last-child {
        background-image: url(../img/adapt_4.jpg);
      }
    }
  }
}

.book {
  position: relative;
  padding-bottom: min(10.42vw, 200px);
  background-color: white;

  &::after {
    content: "";
    position: absolute;
    top: max(-5.21vw, -100px);
    left: 0;
    width: 100%;
    height: min(5.21vw, 100px);
    border-radius: min(2.60vw, 50px) min(2.60vw, 50px) 0 0;
    background-color: white;
  }

  & h2 {
    position: relative;
    z-index: 1000;
    display: inline;
    font-size: min(2.50vw, 48px);
    font-weight: 700;
    font-style: normal;
    line-height: normal;
    color: #000000;
    text-transform: uppercase;
  }

  &__main {
    align-items: center;
    margin-top: min(3.13vw, 60px);
  }

  &__imgBook1 {
    @include back_img;
    width: min(16.09vw, 309px);
    height: min(19.64vw, 377px);
    background-image: url(../img/bool1.png);

    margin-inline: min(3.44vw, 66px) min(2.92vw, 56px);
  }

  &__imgBook2 {
    @include back_img;
    width: min(43.23vw, 830px);
    height: min(23.23vw, 446px);
    margin-right: min(1.04vw, 20px);
    border-radius: min(.52vw, 10px);
    background-image: url(../img/book2.jpg);
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 72%;
    padding: min(.52vw, 10px) min(1.04vw, 20px);
    border-radius: min(.52vw, 10px);
    font-size: min(1.25vw, 24px);
    font-weight: 500;
    font-style: normal;
    line-height: normal;
    color: #ffffff;
    background-color: #b91827;

    column-gap: min(.52vw, 10px);
  }

  &__downBlock {
    flex-direction: column;
    justify-content: space-between;
    max-width: min(21.09vw, 405px);
    min-height: min(23.33vw, 448px);
    padding: min(2.08vw, 40px);
    border-radius: min(.52vw, 10px);
    background: linear-gradient(0deg, rgba(142, 216, 238, .90) 0%, rgba(142, 216, 238, .90) 100%), url(<path-to-image>) lightgray 50% / cover no-repeat;

    & > p {
      font-size: min(1.25vw, 24px);
      font-weight: 400;
      font-style: normal;
      line-height: normal;
      color: #000000;
    }
  }
}

.motiv__btn_active {
  color: white !important;
  background-color: #b91827 !important;
}

.footer {
  background-color: #2e2e2e;

  padding-block: min(5.21vw, 100px);

  & div:has(> a) {
    @include footer_line;
    width: min(27.03vw, 519px);

    & > a {
      @include back_img;
      display: block;
      width: min(21.09vw, 405px);
      height: min(5.00vw, 96px);
      background-image: url(../img/footer_logo.svg);
    }
  }

  & h4 {
    margin-bottom: min(1.56vw, 30px);
    font-size: min(1.25vw, 24px);
    font-weight: 500;
    font-style: normal;
    line-height: min(1.04vw, 20px);
    color: #ffffff;
  }

  &__contactBlock {
    @include footer_line;
    padding-left: min(5.94vw, 114px);
  }

  &__contactDescr {
    font-size: min(1.04vw, 20px);
    font-weight: 400;
    font-style: normal;
    line-height: normal;
    color: #a8a8a8;
  }

  &__contactTel {
    font-size: min(1.04vw, 20px);
    font-weight: 400;
    font-style: normal;
    line-height: normal;
    color: #ffffff;
  }

  &__contactList {
    flex-direction: column;

    row-gap: min(1.56vw, 30px);
  }

  &__help {
    padding-left: min(5.94vw, 114px);

    & ul {
      display: flex;
      flex-direction: column;

      row-gap: min(1.56vw, 30px);

      & a {
        font-size: min(1.04vw, 20px);
        font-weight: 400;
        font-style: normal;
        line-height: normal;
        color: #ffffff;

        text-decoration-line: underline;
      }
    }
  }
}

// hover
.book__link:hover,
.adapt__descr h3 + p + a:hover,
.motiv__main > ul button:hover,
.about__descr h3 + p + a:hover,
.kk__itemLink:hover {
  border-color: black;
  color: white;
  background-color: black;
}

.book__link {
  transition: all .3s ease-in-out;
}

.adapt__descr h3 + p + a {
  transition: all .3s ease-in-out;
}

.motiv__main > ul button {
  transition: all .3s ease-in-out;
}

.about__descr h3 + p + a {
  transition: all .3s ease-in-out;
}

